*{
	margin : 0;
	padding : 0;
	font-family: serif;
}
.top-head{
	float: right;
	margin-top: 18px;
	padding-right: 20px;
}
.navbar{
	background: linear-gradient(57deg, #00c6a7, #1e4d92);
	display: flex;
}
.nav-link{
	color: #ffffff;
	font-size: 19px;
	margin-right: 25px;
	text-transform: uppercase;
}
.navbar-brands{
	color: #27c96d;
	font-size: 30px;
}
/*=======================*/
li{font-size:18px;}
p{
	font-size: 20px;
}
ul{list-style-position: inside;}




form{
	/*background: orange;*/
	text-align: center;
	padding: 20px 20px;

}